{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log in</h1> <br>
    <input type="text" placeholder="Enter your E-mail address">
    <input type="password" placeholder="Enter your Password here">
    <a href="{% url 'doctor:index' %}"><input type="button" value="login"></a><br>
    <img src="{% static 'images/doctor 1.jpg' %}" alt="">
</body>
</html>