{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Hospital</h1>
    <br><br>
    <a href="{% url 'doctor:index'%}"><input type="button" value="Doctor"></a>
    <a href="{% url 'patient:patient_home' %}"><input type="button" value="Patient"></a>
    <a href="{% url 'hadmin:index'%}"><input type="button" value="Hospital Admin"></a>
    <a href="{% url 'fb:fb_login' %}"><input type="button" value="Fb"></a>

</body>
</html>