<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Patients</h1>
    <a href="{% url 'patient:patient_signup' %}"><input type="button" value="Take me to the Sign up Page"></a>
    <a href="{% url 'patient:patient_login' %}"><input type="button" value="Take me to the Log in page"></a>
</body>
</html>